{% extends "base.html" %}
{% block content %}

<div class="container my-4">
<div>
  <a href="{% url 'post_list' channel_pk=post.channel.id %}" class="btn btn-secondary mb-3">
    &larr; Voltar para a lista de posts
  </a>
</div>

<h1>{{ post.content.title }}</h1>

<p>{{ post.content.text }}</p>
{% if post.content.attachments.all %}
  <ul>
    {% for attachment in post.content.attachments.all %}
      <li>
        {% with attachment.file.url|lower as f %}
          {% if ".jpg" in f or ".jpeg" in f or ".png" in f or ".gif" in f %}
            <img src="{{ attachment.file.url }}" alt="Anexo" style="max-width:150px;">
          {% else %}
            <a href="{{ attachment.file.url }}" target="_blank">
              📎 {{ attachment.file.name|cut:"archives/" }}
            </a>
          {% endif %}
        {% endwith %}
      </li>
    {% empty %}
      <li>Sem anexos.</li>
    {% endfor %}
  </ul>
{% endif %}
<p>
  <small>Publicado por {{ post.user.username }} em {{ post.date|date:"d/m/Y H:i" }}</small>
</p>

<a class="btn btn-outline-warning" href="{% url 'edit_post' post.id %}">Editar Publicação</a>

<form id="delete_form" method="POST" action="{% url 'delete_post' post.id %}" style="display:none;">
    {% csrf_token %}
    </form>

<button id="delete_button" class="btn btn-outline-danger">Excluir Publicação</button>

<script>
  document.getElementById("delete_button").addEventListener("click", function(event) {
    event.preventDefault(); // Impede qualquer ação padrão, embora seja um <button>
    
    if (confirm("Tem certeza de que deseja excluir esta publicação? Esta ação não pode ser desfeita.")) {
      // Se confirmado, submete o formulário POST invisível
      document.getElementById("delete_form").submit();
    }
  });
</script>

<hr>

{% include "comment/_comment_form.html" %}
{% include "comment/_comment_list.html" with comments=comments %}

{% endblock %}