  <button class="btn btn-sm btn-secondary" type="button" onclick="toggleCommentForm()">
    Comentar
  </button>

<form id="comment-form" method="post" style="display: none;" action="{% url 'add_comment' post.id %}">
  {% csrf_token %}
  <div class="mb-3">
    <label for="commentText" class="form-label">Adicionar Comentário:</label>
    <textarea class="form-control" id="commentText" name="text" rows="3" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<script>
  function toggleCommentForm() {
    const form = document.getElementById(`comment-form`);
    if (form.style.display === "none") {
      form.style.display = "block";
    } else {
      form.style.display = "none";
    }
  }
</script>