{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 mb-5">
    <h2 class="fw-bold mb-4">Editar Plano</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ plan.title }}" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Descrição</label>
            <textarea class="form-control" id="description" name="description" rows="3">{{ plan.description }}</textarea>
        </div>

        <!-- <div class="mb-3">
            <label for="cover_image" class="form-label">Imagem de Capa</label>
            <input type="file" class="form-control" id="cover_image" name="cover_image">
        </div> -->

        <button type="submit" class="btn btn-primary rounded-pill">Salvar Alterações</button>
        <a href="{% url 'plan_list' %}" class="btn btn-secondary rounded-pill">Cancelar</a>
    </form>
</div>
{% endblock %}