.idea
.config
/church_project/.venv
/church_project/images
church_project/church_app/__pycache__
church_project/church_site/__pycache__
church_project/church_app/migrations/__pycache__
.env
/church_project/media/archives/
__pycache__
church_project/staticfiles/
db.sqlite3
node_modules
*/archives/*